.multiplayer {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.multiplayer__sidebar {
  width: 300px;
  background-color: #F7F7F7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.multiplayer__main {
  width: calc(100% - 300px);
  height: 100vh;
  background-color: #FFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
