.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  
  .menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .menu li {
    margin: 0 10px;
  }
  
  .menu a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    background-color: #e6e6e6;
    transition: background-color 0.2s ease-in-out;
  }
  
  .menu a:hover {
    background-color: #bfbfbf;
  }
  