.joinChatContainer {
  display: flex;
  /* flex-direction: column; */
  text-align: center;
  align-items: center;

  width: 100%;
  /* margin-top: 20vh; */
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.optionsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  /* height: 50%; */
  flex-direction: column;

}
.InputContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}


.field-error-meesage {
  color: rgb(255, 175, 175);
  background-color: #00000050;
  padding: 5px;
}

.joinChatContainer h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.joinChatContainer input {
  width: 40px;
  height: 40px;
  margin: 7px;
  border: 2px solid #43a047;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  text-align: center;
}

.joinChatContainer button {
  /* width: 225px; */
  width: 60%;
  height: 50px;
  margin: 7px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  background: rgba(64, 38, 84, 0.941);
  color: #fff;
  cursor: pointer;
}

.joinChatContainer button:hover {
  background: rgba(27, 16, 35, 0.941);
}

.options {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.heroSecCard {
  cursor: pointer;
  background-color: rgba(237, 216, 216, 0.872);
  font-size: 20px;
  padding: 5px;
  margin: 20px;
  width: 100%;

}

.heroSecCard:hover {
  background-color: rgba(63, 63, 155, 0.404);
  color: white;
  border: 1px solid #000;
  border-radius: 10px;
  transition: 0.5s;
}



@media only screen and (max-width: 800px) {

  .mainImage {
    display: none;
  }

  .optionsContainer {
    width: 100%;
  }

}

@media screen and (min-width: 601px) {
  .joinChatContainer input {
    width: 40%;
  }

  .joinChatContainer button {
    width: 30vw;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  .joinChatContainer input {
    width: 90vw;
  }

  .joinChatContainer button {
    width: 70vw;
  }

  .headingWelcome {
    font-size: 2.5rem !important;
  }
}

@media screen and (max-width: 270px) {
  .darkLightModeBtn {
    width: 120px;
    height: 35px;
    font-size: 10px;
    margin-top: 30px;

  }

}

@media screen and (max-width: 230px) {
  .darkLightModeBtn {
    width: 80px;
  }
}